
#header{
    width: 100%;
    height: 150px;
    background-color: rgb(173,255,47);
    margin-left: auto;
    margin-right: auto;
    text-emphasis-color: red;
}

.logo{
    width: 150px;
    height: 150px;
}

img {
    float: left;
}


#container{
    margin-left: 1200px;
    width: 700px;
}

#container header nav{
    border:dashed green 1px;
    text-align: center;
    border-style: none;
}

#container header nav ul li{
    display: inline-block;
    padding: 50px;
    font-size: 32px;
}


nav > ul > li > a{
    color: rgb(255, 87, 25);

}



#footer{
    width: 100%; 
    height: 70px;
    background-color: rgb(147, 149, 152);
    margin-left: auto;
    margin-right: auto;
}

.copyright-text{
    text-align: center;
    padding: 10px;
}





#body{

    width: 100%;   
    height: 700px;
    background-color:rgb(255, 255, 255);
    margin: auto;
}

#bodyl{
    width: 1487px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: inline-block;
    
}

#bodyr{
    width: 400px; 
    height: 1000px; 
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: inline-block;

}


