/* 9-18-2020 */

/* ID > Class */
body{
    background-color: grey;
    margin: 0px; /* we usually add this, so we can use all area of the HTML body/viewport=no edge */
}

div{            /* this div show in black color because this div doesnot have any id and class now */
    background-color: black;
    width: 50px;
    height: 50px;
}

#first{
    width: 100px;
    height: 100px;
    background-color: orange;
}

#second{
    width: 200px;
    height: 200px;
 

}

#third{
width: 400px;
height: 400px;
}

.green{
    background-color: green;
    border: solid 10px darkgreen;
}

.red{
    background-color:red;
}

.blue{
    background-color:purple;
    background-color: blue;   /* rule order matters, so the 3rd box from blue to transparent here.

}

/*
Order of specificity:
Element selectors < Class selectors < ID Selectors
      Generic     <    Importance   < Specificity
*/

/* Orders in the ruleset matter ==> the lasr rule will be dominant and take effect */

